/* ===== THEME VARIABLES ===== */
:root {
    --bg-color: #000;
    --text-color: #fff;
    --card-color: #111;
    --accent-color: #ff3333;
}

.light {
    --bg-color: #ffffff;
    --text-color: #000;
    --card-color: #eaffff;
    --accent-color: #00eaff;
}

/* ===== BASE ===== */
body {
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    transition: 0.3s;
}

header {
    padding: 20px;
    background: var(--card-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbtn {
    margin-right: 10px;
    background: var(--accent-color);
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--text-color);
}

.section {
    display: none;
    padding: 20px;
}

.section.active {
    display: block;
}

.card {
    background: var(--card-color);
    padding: 15px;
    margin: 10px 0;
    border-left: 5px solid var(--accent-color);
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    background: var(--card-color);
    border: 1px solid var(--accent-color);
    color: var(--text-color);
    border-radius: 5px;
}

.btn, .small-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background: var(--accent-color);
    border: none;
    border-radius: 8px;
    color: var(--text-color);
    cursor: pointer;
}
